.login{
    flex:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    place-items:center;
    justify-content:center;
}
.login img{
    width:200px;
    border-radius:100%;
    margin:30px 0;
}
.login p{
    color:white;
    margin:20px 0;
}
.login h1{
    color:white;
    margin:10px 0;
    font-size:30px;
}
.login nav{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    place-items:center;
}
.login nav button{
    display:flex;
    flex-direction:row;
    padding:10px 20px;
    border:0;
    width:300px;
    margin:100px 0;
    border-radius:20px;
    text-align:center;
    place-items:center;
    justify-content:center;
    cursor:pointer;
    font-size:10px;
    color:rgb(117, 28, 28);
}
.login nav button .icon{
font-size:20px;
}






























