.footer{
    flex:100%;
    height:50vh;
    background:black;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    place-items:center;
}
.products{
    display:flex;
    flex-direction:column;
}
.products h1{
    color:white;
    font-size:15px;
    margin:10px 40px;
}

.products ul{
margin:30px 40px;
display:flex;
flex-direction:column;
}


ul li{
    color:white;
    list-style:lower-alpha;
    font-size:10px;
    margin:10px 0;
}
.socialMedia{
    display:flex;
    flex-direction:column;
    color:white;
    font-size:30px;
    margin:10px 50px;
}



@media screen  and (max-width:650px){
    ul li{
        color:white;
        list-style:lower-alpha;
        font-size:10px;
        margin:5px 0;
    }
}













